*{
    margin: 0;
    padding: 0;
    
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
}

.main{
    background: #1687A0;
    /* border: solid; */
    width: 960px;
    height: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
}



.conteiner-input{
    width: 960px;
    
    /* border: solid rgb(0, 255, 119); */
    
    justify-content: center;
    margin-top: 40px;
}
/* .titulo */

.titulo{
    color:#FF1B1B ;
    text-align: center;
    font-size: 36px;
}

.descripcion {
    /* border: solid; */
    width: 759px;
    height: 112px;

}

input{
    width: 363px;
    height: 59px;
    margin-top: 35px;
    margin-left: 25px;
}

.boton{
    background:#233451 ;
    width: 167px;
    height: 56px;
    
}

.boton:hover{
    border-radius: 54px;
background: #233451;
box-shadow:  29px 29px 58px #121b29,
             -29px -29px 58px #344d79;
}
.containerboton{    
    /* border: solid; */
    display: flex;
    justify-content: center;
}
